<div class="container-fluid">
  <form [formGroup]="formulario">
    <H1>FORMULARIO CON API REST</H1>
    <div class="form-group">
      <label>ID O USUARIO: </label>
      <input type="text" formControlName="nombrePersona" class="form-control" [(ngModel)]="nombreIngresado" placeholder="Ingresa tu nombre"
        [ngClass]="{'is-invalid': formulario.controls['nombrePersona'].errors && !formulario.controls['nombrePersona'].pristine}">
    </div>

    <!-- VALIDAR DATOS PARA NOMBRE -->
    <div *ngIf="formulario.controls['nombrePersona'].errors && !formulario.controls['nombrePersona'].pristine">
      <small class="text-danger" [hidden]="!formulario.controls['nombrePersona'].errors">Favor ingrese caracteres
        válidos.</small>
    </div>

    <div class="form-group">
      <label>CONDICION DE MUESTRA: </label>
      <input type="text" formControlName="apellidoPersona" class="form-control" [(ngModel)]="apellidoIngresado"
         [ngClass]="{'is-invalid': formulario.controls['apellidoPersona'].errors && !formulario.controls['apellidoPersona'].pristine}">
    </div>

    <!-- <div class="form-group">
      <label>DIRECCION: </label>
      <input type="text" formControlName="direccionPersona" class="form-control" [(ngModel)]="direccionIngresada">
      <br>
      <label>TELEFONO: </label>
      <input type="text" formControlName="telefonoPersona" class="form-control" [(ngModel)]="telefonoIngresado">
    </div>
    <div ngIf*="formulario.controls['telefonoPersona'].errors && !formulario.controls['telefonoPersona'].pristine">
      <small class="text-danger" [hidden]="!formulario.controls['telefonoPersona'].errors"> Favor ingrese solo
        numeros</small>
    </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid">Enviar</button>
  </form>

  <div *ngFor="let vari of variable">
    <div *ngIf="vari.id == nombreIngresado">
      <li>{{vari.id}}</li>
      <li>{{vari.name}}</li>
      <li>{{vari.username}}</li>
    </div>

  </div>
</div>